.task {
    border: 2px solid #747bff;
    border-radius: 8px;
    list-style: none;
    padding: 10px;
}

.selected {
    border: 2px solid #ffc464;
}

.completed {
    text-decoration-line: line-through;
}